thead{
    grid-area: thead;
    background-color: darkgrey;
}

tbody{
    grid-area: thead;
    background-color: darkgrey;
}

.section{
    background-color:whitesmoke;
}

#caja1{
    height: 1000px;

}

.eliana{
    font-family: Verdana;

}

.div1{
    float: left;
    width: 300px;
    
}
.div2{
    float: left;
    width: 200px;
    
}
.div3{
    float: left;
    width: 200px;
    
}
.div4{
    float: left;
    width: 200px;
    
}
.div5{
    float: left;
    width: 200px;
    
}
.img{
    float: left;
    margin: 20px;
}
