
#titulo{
    font-family:serif;
    background-color: darksalmon;
    background-size: 100%;
    color: white;
    height: 100%;
    text-align: center;
}
.container{
    background-color: cornsilk;
}  

