
      #grupo6 {
        position: absolute;
        top: 100px; left: 50px;
        padding: 40px 0 0 25px;
        width: 175px; height: 160px;
        background-color:coral;
        color: white;
      }
      
      
      